.Preview {
  padding: 20px;
  display: flex;
  align-items: center;
}

.PreviewHeader {
  font:40px/1.2 Roboto;
  font-weight: 500;
}

.PreviewLogo {
  width: 64px;
  height: 64px;
  margin-right: 20px;
}

.SlidesList {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.Slide {
  height: 300px;
  width: 400px;
  position: relative;
  margin-bottom: 20px;
}

.WorkArea {
  display: flex;
}

.WorkSlide {
  width: 800px;
  height: 600px;
  position: relative;
}

.Element {
  position: absolute;
}